@font-face {
  font-family: "league-spartan";
  src: url("assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "maradona-signature";
  src: url("assets/fonts/Maradona\ Signature.ttf");
}
@font-face {
  font-family: "open-sans";
  src: url("assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/images/grey-paper-background.png");
}

::-webkit-scrollbar {
  display: none;
}

.side-padding {
  padding: 0 4rem;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

nav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

nav ul li {
  display: block;
  font-family: "league-spartan", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px 0px 0px 0px;
}

.hero-logo-img-con {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  position: relative;
}

.logo-con {
  display: flex;
  position: relative;
  justify-content: flex-end;
  left: 6rem;
}

.logo-con img {
  width: 90%;
}

.hero-img-con img {
  width: 80%;
}

p.hero-text {
  position: absolute;
  font-size: 2rem;
  font-family: "league-spartan", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600;
  left: 45rem;
  bottom: 7rem;
}

.hero-text-white {
  color: #ffff;
}

.section-style {
  min-height: 100vh;
  padding:5rem 0;
}

.about-section-con {
  display: flex;
}

.about-section-con {
  width: 100%;
}

.about-img-con img {
  padding-top: 5rem;
}

.about-text-con {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  top: 10rem;
  right: 10rem;
  flex-direction: column;
}

.about-logo-con img {
  width: 100%;
}
.signature-style {
  font-family: "maradona-signature";
}

.about-heading {
  font-size: 2.6rem;
}

.about-text {
  font-family: "open-sans";
  font-weight: 700;
  font-size: 20px;
}

/* Add filler section */

.add-filler-section {
  background-image: url("assets//images/add-filler-background.png");
  background-size: cover;
  background-position: center center;
}

.add-heading{
  font-size: 7rem;
  font-weight: 500;
  color: #ffff;
}

.add-text{
  font-family: "open-sans";
  font-weight: lighter;
  font-size: 20px;
  color: #ffff;
}
.add-text-bold{
  font-weight: 600;
  color: #ffff;
  font-style: italic;
}


/* Services section 

.services-sec-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li.list-text {
  font-family: open-sans;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
}

.text-white{
  color: #ffff;
}

ul.service-text-1 {
  position: relative;
  top: 5rem;
  left: 22rem;
}

.service-img-con{
  position: relative;
}

.service-bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; /* Optional, for spacing 
}


.photo {
  color: black;
  font-size: 1.5rem;
}

.g {
  font-size: 5rem;
  color: black;
}

.raphy {
  font-size: 1.5rem;
  color: white;
}

*/

.services-text-image-container{
  background-image: url(assets/images/services.png);
}

.services-section-container {
  display: flex
;
  justify-content: space-between;
}
.service-text-image-con {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: flex-end;
}

.photo-text-con {
  display: flex
;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 2rem;
}

.photo-text-con {
  display: flex
;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 7rem;
}
span.g {
  font-size: 40rem;
  position: relative;
  top: 17rem;
  font-family: 'open-sans';
  font-weight: 600;
}

span.raphy.service-text {
  position: relative;
  right: 10rem;
}


.service-list-text-con {
  position: relative;
  right: 9rem;
  top: 1rem;
}

.service-text {
  font-family: 'open-sans';
  font-size: 1.2rem;
  font-weight: 600;
}

.text-white{
  color: #ffff;
}

.services-text-container {
  width: 50%;
  display: flex
;
  justify-content: space-around;
}

li.service-list-text {
  font-family: 'open-sans';
  font-weight: 600;
  list-style: none;
  font-size: 1.2rem;
  padding-top: 0.75rem;
}
.service-list-con-2 {

  padding-top: 10rem;
}