@font-face {
    font-family: 'league-spartan'; /* Simplified font-family */
    src: url('/assets/fonts/LeagueSpartan-VariableFont_wght.ttf'); /* Adjust path if needed */
    font-weight: normal; /* Add font-weight for clarity */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/images/grey-paper-background.png");
    padding: 0 2rem;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
  }
  
  nav {
    float: right;
  }
  
  li {
    font-family:'league-spartan';
    display: block;
    margin: 0px 0px 0px 0px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 30px 0px 0px 0px;
}
  