@font-face {
  font-family: 'league-spartan';
  src: url('/assets/fonts/LeagueSpartan-VariableFont_wght.ttf');
  font-weight: 600;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body{
    background-image: url('/assets/images/grey-paper-background.png');
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav{
  min-height: 100vh;
  display: flex;
  align-items: center;
}
ul {
  display: flex
;
  flex-direction: column;
  padding: 1rem;
}
li{
  display: block;
  font-family: 'league-spartan',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px 0px 0px 0px;
}

.hero-logo-img-con {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  position: relative;
}

.logo-con {
  display: flex;
  position: relative;
  justify-content: flex-end;
  left: 6rem;
}

.logo-con img {
  width: 90%;
}

.hero-img-con img {
  width: 80%;
}

p.hero-text {
  position: relative;
  font-size: 2rem;
  font-family: 'league-spartan',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: 600;
  left: 38%;
  bottom: 18%;
}

.hero-text-white{
  color: #ffff;
}